<a href="https://colab.research.google.com/github/IzaLech/data-scientist-bootcamp/blob/%C4%86wiczenia_NUMPY/NUMPY_%C4%87wiczenia_051_060_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 51](#1)
* [Ćwiczenie 52](#2)
* [Ćwiczenie 53](#3)
* [Ćwiczenie 54](#4)
* [Ćwiczenie 55](#5)
* [Ćwiczenie 56](#6)
* [Ćwiczenie 57](#7)
* [Ćwiczenie 58](#8)
* [Ćwiczenie 59](#9)
* [Ćwiczenie 60](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np

np.random.seed(42)
np.__version__

'1.22.4'

### <a name='1'></a> Ćwiczenie 51
Podane są poniżej dwie tablice $A$ i $B$:


```
A = np.array([[3, 4, 5],
              [8, 3, 1]])
B = np.array([[0, 5, 2],
              [4, 2, 1]])
```
* Połącz te tablice w następujący sposób:


```
array([[3, 4, 5],
       [8, 3, 1],
       [0, 5, 2],
       [4, 2, 1]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.concatenate()_.

In [7]:
A = np.array([[3, 4, 5],
              [8, 3, 1]])
B = np.array([[0, 5, 2],
              [4, 2, 1]])
np.concatenate((A, B), axis=0)

array([[3, 4, 5],
       [8, 3, 1],
       [0, 5, 2],
       [4, 2, 1]])

* Połącz te tablice w następujący sposób:


```
array([[3, 4, 5, 0, 5, 2],
       [8, 3, 1, 4, 2, 1]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.concatenate()_.

In [8]:
np.concatenate((A, B), axis=1)

array([[3, 4, 5, 0, 5, 2],
       [8, 3, 1, 4, 2, 1]])

### <a name='2'></a> Ćwiczenie 52
Podana jest tablica zawierająca dane _data_ oraz tablica zawierająca docelową klasę dla danego wiersza _target_:

```
data = np.array([[4.3, 4.2],
                 [3.1, 3.6]])
target = np.array([[0],
                   [1]])
```

Połącz te tablice w jedną tak jak pokazano poniżej:


```
array([[4.3, 4.2, 0. ],
       [3.1, 3.6, 1. ]])
```

In [11]:
data = np.array([[4.3, 4.2],
                 [3.1, 3.6]])
target = np.array([[0],
                   [1]])
np.concatenate((data, target), axis=1)

array([[4.3, 4.2, 0. ],
       [3.1, 3.6, 1. ]])

### <a name='3'></a> Ćwiczenie 53
Podane są trzy poniższe jednowymiarowe tablice:  


```
feature1 = np.array([1.6, 0.9, 2.2])
feature2 = np.array([0.4, 1.3, 3.2])
feature3 = np.array([1.4, 0.3, 1.2])
```
Przekształć każdą z tych tablic w kolumnę i sklej w jedną dużą tablicę.

__Oczekiwany wynik:__


```
array([[1.6, 0.4, 1.4],
       [0.9, 1.3, 0.3],
       [2.2, 3.2, 1.2]])
```

__Wskazówka:__ Wykorzystaj funkcję _np.column_stack()_.

In [14]:
feature1 = np.array([1.6, 0.9, 2.2])
feature2 = np.array([0.4, 1.3, 3.2])
feature3 = np.array([1.4, 0.3, 1.2])

np.column_stack([feature1 , feature2 , feature3])

array([[1.6, 0.4, 1.4],
       [0.9, 1.3, 0.3],
       [2.2, 3.2, 1.2]])

### <a name='4'></a> Ćwiczenie 54
Podana jest poniższa dwuwymiarowa tablica:

```
A = np.random.randint(low=0, high=7, size=(5, 8))
A[:, :2] = 0
A[:, -2:] = 1
A
```
```
array([[0, 0, 4, 6, 2, 4, 1, 1],
       [0, 0, 6, 2, 2, 4, 1, 1],
       [0, 0, 1, 3, 5, 5, 1, 1],
       [0, 0, 3, 1, 5, 4, 1, 1],
       [0, 0, 2, 6, 1, 3, 1, 1]])
```

Podziel tablicę na 3 części tak aby pierwsze dwie kolumny stanowiły pierwszą tablicę $A1$, cztery kolejne drugą tablicę $A2$ oraz dwie ostatnie trzecią tablicę $A3$.

__Wskazówka:__ Wykorzystaj funkcję _np.split()_.

In [22]:
A = np.random.randint(low=0, high=7, size=(5, 8))
A[:, :2] = 0
A[:, -2:] = 1

A1, A2, A3 = np.split(A, [2 , 6] , axis=1)
print(A1)
print(A2)
print(A3)

[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]
[[6 0 0 3]
 [2 2 0 2]
 [0 3 6 0]
 [6 5 4 2]
 [0 2 4 6]]
[[1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]]

### <a name='5'></a> Ćwiczenie 55
Podana jest poniższa tablica $A$:

```
A = np.random.randint(low=0, high=2, size=(10, 6))
```
Wyznacz łączną liczbę elementów niezerowych dla tej tablicy.

__Wskazówka:__ Wykorzystaj funkcję _np.count_nonzero()_.

In [26]:
A = np.random.randint(low=0, high=2, size=(10, 6))
print(A)

np.count_nonzero(A)

[[0 0 1 1 0 0]
 [1 1 1 1 0 1]
 [1 0 1 0 1 1]
 [1 0 0 1 0 0]
 [0 0 0 0 1 1]
 [0 1 1 1 1 0]
 [1 1 0 0 1 1]
 [1 1 1 1 0 1]
 [1 0 0 0 0 1]
 [1 1 1 1 1 0]]

35

Wyznacz łączną liczbę elementów niezerowych dla każdego wiersza tej tablicy.

__Wskazówka:__ Wykorzystaj funkcję _np.count_nonzero()_.

In [27]:
np.count_nonzero(A , axis=0) #to są elementy niezerowe dla każdej kolumny

array([7, 5, 6, 6, 5, 6])

In [28]:
np.count_nonzero(A , axis=1)

array([2, 5, 4, 2, 2, 4, 4, 5, 2, 5])

### <a name='6'></a> Ćwiczenie 56
Poniżej podana jest przykładowa tablica $A$:

```
A = np.random.randn(10, 4)
```

```
array([[-0.53441645, -1.49505387, -0.78925833,  0.74371128],
       [-0.21216142, -0.42686879,  0.50144833,  1.15818665],
       [ 0.25711687,  0.3145129 ,  1.37186213,  0.17555329],
       [-0.30928855,  0.6731255 , -0.25663018, -0.36782572],
       [ 1.27373362, -0.29195267, -2.65517605,  0.34551794],
       [-0.39551645, -0.28913686,  0.45293633, -0.16606091],
       [ 0.21493883, -2.02231493, -0.94305681,  1.40395874],
       [-0.0185508 , -1.67350462, -1.07253183, -0.99258618],
       [ 0.10234768, -0.43260928, -0.6591823 ,  0.0039373 ],
       [ 0.4777541 , -0.25902864, -0.57470921, -0.42149822]])
```


Ustaw odopowiednią opcję biblioteki numpy pozwalającą drukować tablice z określoną precyzją. Ustaw jej wartość na 4 i wydrukuj tablicę $A$.

In [34]:
A = np.random.randn(10, 4)

np.set_printoptions(precision=4)
print(A)

[[ 0.3227 -0.8272  0.5193  1.5327]
 [-0.1088  0.4017  0.6901 -0.4012]
 [ 0.2241  0.0126  0.0977 -0.773 ]
 [ 0.0245  0.498   1.4511  0.9593]
 [ 2.1532 -0.7673  0.8723  0.1833]
 [ 2.1898 -0.8083 -0.8397 -0.5994]
 [-2.1239 -0.5258 -0.7591  0.1504]
 [ 0.3418  1.8762  0.9504 -0.5769]
 [-0.8984  0.4919 -1.3202  1.8315]
 [ 1.1794 -0.4692 -1.7131  1.3539]]

### <a name='7'></a> Ćwiczenie 57
Podana jest poniższa tablica numpy $A$:

```
A = np.array([1.2e-6, 1.7e-7])
```

Ustaw wartość precyzji na 8. Następnie ustaw odopowiednią opcję biblioteki numpy pozwalającą stłumić notację wykładniczą. Wydrukuj tablicę $A$.

__Oczekiwany wynik:__


```
array([0.0000012 , 0.00000017])
```

In [36]:
A = np.array([1.2e-6, 1.7e-7])
A

array([1.2e-06, 1.7e-07])

In [38]:
np.set_printoptions(suppress=True , precision=8)
A

array([0.0000012 , 0.00000017])

### <a name='8'></a> Ćwiczenie 58
Podana jest poniższa tablica numpy $A$:

```
A = np.random.randn(8, 4)
```
Usuń trzecią kolumnę z tablicy $A$.

__Oczekiwany wynik:__


```
array([[-0.55692881, -0.66003196,  0.70856031],
       [ 0.22378737, -0.19796576, -0.16889332],
       [ 0.26062786,  0.29865445, -0.92259267],
       [-2.40317659,  1.79961876, -1.96495796],
       [ 0.13051561, -1.7085185 ,  0.54885043],
       [ 1.77268727,  0.38751181, -0.05141955],
       [-1.80858596, -0.45075211,  0.15332866],
       [ 1.94218961, -1.93679529, -1.83350954]])
```
__Wskazówka:__ Wykorzystaj funkcję _np.delete()_.

In [39]:
A = np.random.randn(8, 4)
A

array([[-0.11453985,  1.23781631, -1.59442766, -0.59937502],
       [ 0.0052437 ,  0.04698059, -0.45006547,  0.62284993],
       [-1.06762043, -0.14237949,  0.12029563,  0.51443883],
       [ 0.71161488, -1.12464209, -1.53411417,  1.27767682],
       [ 0.33231401, -0.74848654,  1.55115198,  0.11567463],
       [ 1.17929718,  0.06751848,  2.06074792,  1.75534084],
       [-0.24896415,  0.97157095,  0.64537595,  1.36863156],
       [-0.96492346,  0.68605146,  1.05842449, -1.75873949]])

In [42]:
np.delete(A , 2,  axis=1 )

array([[-0.11453985,  1.23781631, -0.59937502],
       [ 0.0052437 ,  0.04698059,  0.62284993],
       [-1.06762043, -0.14237949,  0.51443883],
       [ 0.71161488, -1.12464209,  1.27767682],
       [ 0.33231401, -0.74848654,  0.11567463],
       [ 1.17929718,  0.06751848,  1.75534084],
       [-0.24896415,  0.97157095,  1.36863156],
       [-0.96492346,  0.68605146, -1.75873949]])

### <a name='9'></a> Ćwiczenie 59
Podana jest tablica jednowymiarowa $v$ (wektor):

```
v = np.array([3, 4, -2])
```
Policz normę wektora $v$.

In [45]:
v = np.array([3, 4, -2])
print(v)
np.linalg.norm(v)

[ 3  4 -2]

5.385164807134504

### <a name='10'></a> Ćwiczenie 60
Poniżej podana jest przykładowa tablica $A$:


```
A = np.random.randint(10, size=(100, 30))
```
Ustaw odopowiednią opcję biblioteki numpy pozwalającą drukować 10 skrajnych elementów. Wydrukuj tablicę $A$.

In [46]:
A = np.random.randint(10, size=(100, 30))
A

array([[2, 1, 3, ..., 6, 6, 5],
       [7, 3, 7, ..., 9, 8, 8],
       [5, 7, 0, ..., 8, 6, 4],
       ...,
       [7, 8, 3, ..., 6, 8, 3],
       [9, 2, 4, ..., 5, 5, 4],
       [8, 9, 7, ..., 7, 5, 4]])

In [48]:
np.set_printoptions(edgeitems=10)
A

array([[2, 1, 3, 8, 5, 0, 7, 6, 9, 2, ..., 4, 1, 5, 4, 1, 2, 8, 6, 6, 5],
       [7, 3, 7, 3, 7, 8, 2, 2, 1, 9, ..., 4, 8, 9, 1, 0, 9, 8, 9, 8, 8],
       [5, 7, 0, 9, 3, 0, 7, 0, 2, 3, ..., 2, 6, 1, 9, 5, 2, 2, 8, 6, 4],
       [9, 6, 8, 0, 6, 5, 9, 8, 0, 3, ..., 7, 0, 2, 9, 8, 4, 5, 3, 9, 1],
       [7, 5, 4, 8, 0, 4, 5, 4, 5, 5, ..., 3, 7, 5, 1, 3, 3, 5, 5, 0, 7],
       [5, 2, 8, 1, 7, 9, 2, 4, 5, 9, ..., 4, 3, 2, 0, 5, 1, 7, 9, 4, 6],
       [9, 1, 7, 1, 3, 0, 4, 8, 0, 8, ..., 1, 2, 2, 0, 7, 5, 7, 8, 4, 2],
       [4, 4, 4, 2, 9, 3, 8, 9, 8, 1, ..., 0, 0, 6, 1, 4, 7, 7, 2, 6, 2],
       [5, 5, 2, 6, 2, 7, 9, 3, 0, 3, ..., 1, 9, 4, 9, 0, 5, 5, 3, 7, 3],
       [7, 7, 4, 3, 1, 2, 2, 3, 3, 9, ..., 7, 1, 8, 0, 7, 3, 3, 4, 7, 4],
       ...,
       [3, 7, 8, 3, 9, 9, 5, 0, 3, 6, ..., 6, 4, 8, 0, 6, 9, 6, 3, 8, 4],
       [3, 6, 3, 2, 8, 7, 0, 6, 8, 7, ..., 3, 9, 7, 8, 6, 4, 7, 3, 1, 5],
       [8, 0, 9, 6, 9, 8, 9, 8, 9, 2, ..., 8, 8, 1, 9, 0, 1, 4, 3, 3, 8],
       [7, 5, 0, 1, 5, 1, 9, 4, 4, 5, ..., 5, 8, 3, 2, 7, 9, 8, 4, 8, 1],
       [2, 6, 6, 5, 5, 1, 9, 5, 3, 2, ..., 0, 6, 0, 3, 7, 1, 5, 5, 8, 4],
       [9, 3, 4, 9, 4, 7, 9, 7, 1, 6, ..., 6, 1, 2, 0, 8, 6, 0, 2, 3, 3],
       [4, 2, 2, 0, 6, 9, 0, 1, 3, 3, ..., 6, 9, 8, 8, 4, 9, 0, 0, 5, 1],
       [7, 8, 3, 4, 7, 2, 4, 2, 9, 2, ..., 9, 3, 1, 3, 7, 8, 2, 6, 8, 3],
       [9, 2, 4, 0, 2, 7, 7, 3, 1, 7, ..., 3, 6, 4, 4, 8, 8, 8, 5, 5, 4],
       [8, 9, 7, 6, 6, 5, 4, 3, 2, 2, ..., 4, 8, 2, 8, 5, 3, 6, 7, 5, 4]])