<a href="https://colab.research.google.com/github/IzaLech/data-scientist-bootcamp/blob/%C4%86wiczenia_NUMPY/NUMPY_%C4%87wiczenia_081_090_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 81](#1)
* [Ćwiczenie 82](#2)
* [Ćwiczenie 83](#3)
* [Ćwiczenie 84](#4)
* [Ćwiczenie 85](#5)
* [Ćwiczenie 86](#6)
* [Ćwiczenie 87](#7)
* [Ćwiczenie 88](#8)
* [Ćwiczenie 89](#9)
* [Ćwiczenie 90](#10)

### <a name='0'></a>Import biblioteki

In [2]:
import numpy as np

np.set_printoptions(linewidth=100)
np.__version__

'1.22.4'

### <a name='1'></a> Ćwiczenie 81
Wygeneruj wyszstkie daty poniedziałków ze stycznia i lutego 2020 roku jako tablicę numpy.

__Oczekiwany wynik:__


```
array(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27', '2020-02-03', '2020-02-10',
       '2020-02-17', '2020-02-24'], dtype='datetime64[D]')
```

In [ ]:
np.arange(start='2020-01-06' , stop='2020-02-28' , step=7 , dtype='datetime64[D]')

array(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27', '2020-02-03', '2020-02-10',
       '2020-02-17', '2020-02-24'], dtype='datetime64[D]')

### <a name='2'></a> Ćwiczenie 82
Podane są dwie tablice $A$ i $B$:

```
A = np.array(['001', '002', '003'], dtype=np.str)
B = np.array(['XC', 'YC', 'ZC'], dtype=np.str)
```
Sklej je w jedną tak jak pokazano poniżej:


```
array(['001XC', '002YC', '003ZC'], dtype='<U5')
```

__Wskazówka:__ Użyj funkcję _np.char.add()_.

In [ ]:
A = np.array(['001', '002', '003'], dtype=np.str)
B = np.array(['XC', 'YC', 'ZC'], dtype=np.str)

np.char.add(A,B)

<ipython-input-7-202c13b94453>:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  A = np.array(['001', '002', '003'], dtype=np.str)
<ipython-input-7-202c13b94453>:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  B = np.array(['XC', 'YC', 'ZC'], dtype=np.str)

array(['001XC', '002YC', '003ZC'], dtype='<U5')

### <a name='3'></a> Ćwiczenie 83
Podana jest poniższa tablica:


```
A = np.array(['1', '2', '3'], dtype=np.str)
```
Dodaj '000' (3 zera) na początku każdego elementu tablicy.

__Wskazówka:__ Użyj funkcję _np.char.add()_ lub _np.char.rjust()_ lub _np.char.zfill()_.

In [ ]:
A = np.array(['1', '2', '3'], dtype=np.str)

np.char.add('000',A)

<ipython-input-15-d9eb2b3ca36e>:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  A = np.array(['1', '2', '3'], dtype=np.str)

array(['0001', '0002', '0003'], dtype='<U4')

### <a name='4'></a> Ćwiczenie 84
Podana jest poniższa tablica:

```
A = np.array([['PLW CDR 11B TEN', 'AMC LPP'],
              ['CDR PKO KGH', 'CCC QMK']], dtype=np.str)
```
Podziel każdy element powyższej tablicy względem spacji otrzymując listę wartości na każdym miejscu.

__Oczekiwany wynik:__


```
array([[list(['PLW', 'CDR', '11B', 'TEN']), list(['AMC', 'LPP'])],
       [list(['CDR', 'PKO', 'KGH']), list(['CCC', 'QMK'])]], dtype=object)
```
__Wskazówka:__ Użyj funkcji _np.char.split()_.

In [ ]:
A = np.array([['PLW CDR 11B TEN', 'AMC LPP'],
              ['CDR PKO KGH', 'CCC QMK']], dtype=np.str)
np.char.split(A , ' ')

<ipython-input-16-5b9bde3632a5>:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  ['CDR PKO KGH', 'CCC QMK']], dtype=np.str)

array([[list(['PLW', 'CDR', '11B', 'TEN']), list(['AMC', 'LPP'])],
       [list(['CDR', 'PKO', 'KGH']), list(['CCC', 'QMK'])]], dtype=object)

### <a name='5'></a> Ćwiczenie 85
Podana jest poniższa tablica:

```
A = np.array([['#summer#time#mood'],
              ['#sport#time']])
```
Zamień wszystkie znaki # na spacje i nastepnie usuń niepotrzebne spacje dookoła tekstu.

__Oczekiwany wynik:__ 


```
array([['summer time mood'],
       ['sport time']], dtype='<U17')
```

In [ ]:
A = np.array([['#summer#time#mood'],
              ['#sport#time']])

np.char.replace(A, '#', ' ')

array([[' summer time mood'],
       [' sport time']], dtype='<U17')

In [ ]:
np.char.strip(np.char.replace(A, '#', ' '))

array([['summer time mood'],
       ['sport time']], dtype='<U17')

### <a name='6'></a> Ćwiczenie 86
Podana jest poniższa tabilca:

```
A = np.array([['#summer#time#mood', '#vibe'],
              ['#sport#time', '#good#time'],
              ['#event#summer', '#fast#move']])
```
Policz liczbę wystąpień słowa 'time' w każdym elemencie tablicy $A$.

__Wskazówka:__ Użyj funkcji _np.char.count()_.

In [ ]:
A = np.array([['#summer#time#mood', '#vibe'],
              ['#sport#time', '#good#time'],
              ['#event#summer', '#fast#move']])
np.char.count(A , 'time')

array([[1, 0],
       [1, 1],
       [0, 0]])

### <a name='7'></a> Ćwiczenie 87
Podany jest poniższy tekst zawierający dane dotyczące spółek z indeksu WIG20:


```
text = """ALIOR	PLALIOR00045	88 860 000	1 386 216 000	0,891	2,16	14
CCC	PLCCC0000016	27 918 000	1 292 603 400	0,831	5,28	42
CDPROJEKT	PLOPTTC00011	67 348 000	22 864 646 000	14,702	7,39	7
CYFRPLSAT	PLCFRPT00013	275 301 000	6 854 994 900	4,408	1,17	14
DINOPL	PLDINPL00011	47 937 000	8 916 282 000	5,733	9,13	12
JSW	PLJSW0000015	52 636 000	716 902 320	0,461	1,51	24
KGHM	PLKGHM000017	136 410 000	9 881 540 400	6,354	4,78	8
LOTOS	PLLOTOS00025	86 543 000	5 609 717 260	3,607	2,91	16
LPP	PLLPP0000011	1 306 000	7 444 200 000	4,787	1,43	19
MBANK	PLBRE0000012	12 997 000	2 830 746 600	1,820	0,42	24
ORANGEPL	PLTLKPL00017	647 357 000	4 285 503 340	2,756	1,16	13
PEKAO	PLPEKAO00016	176 379 000	9 619 710 660	6,185	5,27	9
PGE	PLPGER000010	796 776 000	3 561 588 720	2,290	2,88	18
PGNIG	PLPGNIG00014	1 624 608 000	6 072 784 704	3,905	1,56	12
PKNORLEN	PLPKN0000018	289 049 000	17 701 360 760	11,382	12,44	8
PKOBP	PLPKO0000016	857 593 000	18 807 014 490	12,093	10,49	9
PLAY	LU1642887738	114 151 000	3 696 209 380	2,377	1,47	16
PZU	PLPZU0000011	568 305 000	17 515 160 100	11,262	6,64	6
SANPL	PLBZ00000044	33 207 000	5 213 499 000	3,352	1,91	18
TAURONPE	PLTAURN00011	1 043 590 000	1 252 308 000	0,805	1,21	33"""
```


__Kolumny oznaczają odpowiednio:__

Instrument | Kod ISIN | Pakiet | Pakiet (PLN) | Udział w portfelu(%) | Udział w obrotach akcjami i PDA na sesji (%) | Średni spread na sesji

Podziel tekst na linie. Nastepnie każdą linię podziel względem znaku tabulacji '\t' i zbuduj tablicę numpy (bez nagłówków) zawierajacą poniższe dane. Przypisz wynikową tablicę do zmiennej _result_.

__Oczekiwany wynik:__


```
array([['ALIOR', 'PLALIOR00045', '88 860 000', '1 386 216 000', '0,891', '2,16', '14'],
       ['CCC', 'PLCCC0000016', '27 918 000', '1 292 603 400', '0,831', '5,28', '42'],
       ['CDPROJEKT', 'PLOPTTC00011', '67 348 000', '22 864 646 000', '14,702', '7,39', '7'],
       ['CYFRPLSAT', 'PLCFRPT00013', '275 301 000', '6 854 994 900', '4,408', '1,17', '14'],
       ['DINOPL', 'PLDINPL00011', '47 937 000', '8 916 282 000', '5,733', '9,13', '12'],
       ['JSW', 'PLJSW0000015', '52 636 000', '716 902 320', '0,461', '1,51', '24'],
       ['KGHM', 'PLKGHM000017', '136 410 000', '9 881 540 400', '6,354', '4,78', '8'],
       ['LOTOS', 'PLLOTOS00025', '86 543 000', '5 609 717 260', '3,607', '2,91', '16'],
       ['LPP', 'PLLPP0000011', '1 306 000', '7 444 200 000', '4,787', '1,43', '19'],
       ['MBANK', 'PLBRE0000012', '12 997 000', '2 830 746 600', '1,820', '0,42', '24'],
       ['ORANGEPL', 'PLTLKPL00017', '647 357 000', '4 285 503 340', '2,756', '1,16', '13'],
       ['PEKAO', 'PLPEKAO00016', '176 379 000', '9 619 710 660', '6,185', '5,27', '9'],
       ['PGE', 'PLPGER000010', '796 776 000', '3 561 588 720', '2,290', '2,88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1 624 608 000', '6 072 784 704', '3,905', '1,56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289 049 000', '17 701 360 760', '11,382', '12,44', '8'],
       ['PKOBP', 'PLPKO0000016', '857 593 000', '18 807 014 490', '12,093', '10,49', '9'],
       ['PLAY', 'LU1642887738', '114 151 000', '3 696 209 380', '2,377', '1,47', '16'],
       ['PZU', 'PLPZU0000011', '568 305 000', '17 515 160 100', '11,262', '6,64', '6'],
       ['SANPL', 'PLBZ00000044', '33 207 000', '5 213 499 000', '3,352', '1,91', '18'],
       ['TAURONPE', 'PLTAURN00011', '1 043 590 000', '1 252 308 000', '0,805', '1,21', '33']],
      dtype='<U14')
```

In [17]:
text = """ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14
CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42
CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7
CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14
DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12
JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24
KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8
LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16
LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19
MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24
ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13
PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9
PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18
PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12
PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8
PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9
PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16
PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6
SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18
TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33"""
text

'ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14\nCCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42\nCDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7\nCYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14\nDINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12\nJSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24\nKGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8\nLOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16\nLPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19\nMBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24\nORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13\nPEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9\nPGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18\nPGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12\nPKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8\nPKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9\nPLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16\nPZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6\nSANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18\nTAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33'

In [18]:
lines = text.splitlines()
lines

['ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14',
 'CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42',
 'CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7',
 'CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14',
 'DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12',
 'JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24',
 'KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8',
 'LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16',
 'LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19',
 'MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24',
 'ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13',
 'PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9',
 'PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18',
 'PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12',
 'PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8',
 'PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9',
 'PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16',
 'PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6',
 'SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18',
 'TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33']

In [19]:
lines = [line.split('\t') for line in lines]
lines

[['ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14'],
 ['CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42'],
 ['CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7'],
 ['CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14'],
 ['DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12'],
 ['JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24'],
 ['KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8'],
 ['LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16'],
 ['LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19'],
 ['MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24'],
 ['ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13'],
 ['PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9'],
 ['PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18'],
 ['PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12'],
 ['PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8'],
 ['PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9'],
 ['PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16'],
 ['PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6'],
 ['SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18'],
 ['TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33']]

In [20]:
result = np.array(lines , dtype=np.str)
result

<ipython-input-20-045796104738>:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  result = np.array(lines , dtype=np.str)

array([['ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14'],
       ['CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42'],
       ['CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7'],
       ['CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14'],
       ['DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12'],
       ['JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24'],
       ['KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8'],
       ['LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16'],
       ['LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19'],
       ['MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24'],
       ['ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13'],
       ['PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9'],
       ['PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18'],
       ['PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12'],
       ['PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8'],
       ['PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9'],
       ['PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16'],
       ['PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6'],
       ['SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18'],
       ['TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33']],
      dtype='<U81')

In [23]:
lines = text.splitlines( )
lines = [line.split('\t') for line in lines]
result = np.array(lines, dtype=np.str)
result

<ipython-input-23-2edc96c851e2>:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  result = np.array(lines, dtype=np.str)

array([['ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14'],
       ['CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42'],
       ['CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7'],
       ['CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14'],
       ['DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12'],
       ['JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24'],
       ['KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8'],
       ['LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16'],
       ['LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19'],
       ['MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24'],
       ['ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13'],
       ['PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9'],
       ['PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18'],
       ['PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12'],
       ['PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8'],
       ['PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9'],
       ['PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16'],
       ['PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6'],
       ['SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18'],
       ['TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33']],
      dtype='<U81')

In [35]:
result2 = np.array([['ALIOR', 'PLALIOR00045', '88 860 000', '1 386 216 000', '0,891', '2,16', '14'],
       ['CCC', 'PLCCC0000016', '27 918 000', '1 292 603 400', '0,831', '5,28', '42'],
       ['CDPROJEKT', 'PLOPTTC00011', '67 348 000', '22 864 646 000', '14,702', '7,39', '7'],
       ['CYFRPLSAT', 'PLCFRPT00013', '275 301 000', '6 854 994 900', '4,408', '1,17', '14'],
       ['DINOPL', 'PLDINPL00011', '47 937 000', '8 916 282 000', '5,733', '9,13', '12'],
       ['JSW', 'PLJSW0000015', '52 636 000', '716 902 320', '0,461', '1,51', '24'],
       ['KGHM', 'PLKGHM000017', '136 410 000', '9 881 540 400', '6,354', '4,78', '8'],
       ['LOTOS', 'PLLOTOS00025', '86 543 000', '5 609 717 260', '3,607', '2,91', '16'],
       ['LPP', 'PLLPP0000011', '1 306 000', '7 444 200 000', '4,787', '1,43', '19'],
       ['MBANK', 'PLBRE0000012', '12 997 000', '2 830 746 600', '1,820', '0,42', '24'],
       ['ORANGEPL', 'PLTLKPL00017', '647 357 000', '4 285 503 340', '2,756', '1,16', '13'],
       ['PEKAO', 'PLPEKAO00016', '176 379 000', '9 619 710 660', '6,185', '5,27', '9'],
       ['PGE', 'PLPGER000010', '796 776 000', '3 561 588 720', '2,290', '2,88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1 624 608 000', '6 072 784 704', '3,905', '1,56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289 049 000', '17 701 360 760', '11,382', '12,44', '8'],
       ['PKOBP', 'PLPKO0000016', '857 593 000', '18 807 014 490', '12,093', '10,49', '9'],
       ['PLAY', 'LU1642887738', '114 151 000', '3 696 209 380', '2,377', '1,47', '16'],
       ['PZU', 'PLPZU0000011', '568 305 000', '17 515 160 100', '11,262', '6,64', '6'],
       ['SANPL', 'PLBZ00000044', '33 207 000', '5 213 499 000', '3,352', '1,91', '18'],
       ['TAURONPE', 'PLTAURN00011', '1 043 590 000', '1 252 308 000', '0,805', '1,21', '33']],
      dtype='<U14')

### <a name='8'></a> Ćwiczenie 88
Z tabilcy _result_ z poprzedniego zadania usuń wszystkie spacje w tekście oraz zamień wszystkie przecinki na kropki.

In [38]:
result2 = np.char.replace(result2, ' ', '')
result2 = np.char.replace(result2, ',', '.')
result2

array([['ALIOR', 'PLALIOR00045', '88860000', '1386216000', '0.891', '2.16', '14'],
       ['CCC', 'PLCCC0000016', '27918000', '1292603400', '0.831', '5.28', '42'],
       ['CDPROJEKT', 'PLOPTTC00011', '67348000', '22864646000', '14.702', '7.39', '7'],
       ['CYFRPLSAT', 'PLCFRPT00013', '275301000', '6854994900', '4.408', '1.17', '14'],
       ['DINOPL', 'PLDINPL00011', '47937000', '8916282000', '5.733', '9.13', '12'],
       ['JSW', 'PLJSW0000015', '52636000', '716902320', '0.461', '1.51', '24'],
       ['KGHM', 'PLKGHM000017', '136410000', '9881540400', '6.354', '4.78', '8'],
       ['LOTOS', 'PLLOTOS00025', '86543000', '5609717260', '3.607', '2.91', '16'],
       ['LPP', 'PLLPP0000011', '1306000', '7444200000', '4.787', '1.43', '19'],
       ['MBANK', 'PLBRE0000012', '12997000', '2830746600', '1.820', '0.42', '24'],
       ['ORANGEPL', 'PLTLKPL00017', '647357000', '4285503340', '2.756', '1.16', '13'],
       ['PEKAO', 'PLPEKAO00016', '176379000', '9619710660', '6.185', '5.27', '9'],
       ['PGE', 'PLPGER000010', '796776000', '3561588720', '2.290', '2.88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1624608000', '6072784704', '3.905', '1.56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289049000', '17701360760', '11.382', '12.44', '8'],
       ['PKOBP', 'PLPKO0000016', '857593000', '18807014490', '12.093', '10.49', '9'],
       ['PLAY', 'LU1642887738', '114151000', '3696209380', '2.377', '1.47', '16'],
       ['PZU', 'PLPZU0000011', '568305000', '17515160100', '11.262', '6.64', '6'],
       ['SANPL', 'PLBZ00000044', '33207000', '5213499000', '3.352', '1.91', '18'],
       ['TAURONPE', 'PLTAURN00011', '1043590000', '1252308000', '0.805', '1.21', '33']],
      dtype='<U12')

Następnie wytnij 5 kolumnę 'Udział w portfelu(%)' zamień jej typ na _float_ i policz sumę dla tej kolumny. Sprawdź czy wynosi 100%.

In [43]:
result2[:,4] # wycinamy kolumnę piątą (czyli z indeksem 4)

array(['0.891', '0.831', '14.702', '4.408', '5.733', '0.461', '6.354', '3.607', '4.787', '1.820',
       '2.756', '6.185', '2.290', '3.905', '11.382', '12.093', '2.377', '11.262', '3.352', '0.805'],
      dtype='<U12')

In [45]:
result2[:,4].astype('float') # zamieniamy typ danych na float

array([ 0.891,  0.831, 14.702,  4.408,  5.733,  0.461,  6.354,  3.607,  4.787,  1.82 ,  2.756,
        6.185,  2.29 ,  3.905, 11.382, 12.093,  2.377, 11.262,  3.352,  0.805])

In [49]:
result2[:,4].astype('float').sum() # obliczamy sumę

100.001

### <a name='9'></a> Ćwiczenie 89
Z tablicy _result_ wytnij wszystkie wiersze o nazwie spółki zaczynającej się literą P i przypisz do zmiennej _stocks_startswith_P_.

__Oczekiwany wynik:__


```
array([['PEKAO', 'PLPEKAO00016', '176379000', '9619710660', '6.185', '5.27', '9'],
       ['PGE', 'PLPGER000010', '796776000', '3561588720', '2.290', '2.88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1624608000', '6072784704', '3.905', '1.56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289049000', '17701360760', '11.382', '12.44', '8'],
       ['PKOBP', 'PLPKO0000016', '857593000', '18807014490', '12.093', '10.49', '9'],
       ['PLAY', 'LU1642887738', '114151000', '3696209380', '2.377', '1.47', '16'],
       ['PZU', 'PLPZU0000011', '568305000', '17515160100', '11.262', '6.64', '6']], dtype='<U12')
```

In [51]:
stocks_startswith_P = result2[np.char.startswith(result2[:, 0], 'P')]
stocks_startswith_P

array([['PEKAO', 'PLPEKAO00016', '176379000', '9619710660', '6.185', '5.27', '9'],
       ['PGE', 'PLPGER000010', '796776000', '3561588720', '2.290', '2.88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1624608000', '6072784704', '3.905', '1.56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289049000', '17701360760', '11.382', '12.44', '8'],
       ['PKOBP', 'PLPKO0000016', '857593000', '18807014490', '12.093', '10.49', '9'],
       ['PLAY', 'LU1642887738', '114151000', '3696209380', '2.377', '1.47', '16'],
       ['PZU', 'PLPZU0000011', '568305000', '17515160100', '11.262', '6.64', '6']], dtype='<U12')

### <a name='10'></a> Ćwiczenie 90
Wykorzystując zmienną _stocks_startswith_P_ policz łączny udział spółek, których nazwa rozpoczyna się literą P. Wynik zaokrąglij do dwóch miejsc po przecinku.

In [56]:
stocks_startswith_P[:,4].astype('float').sum() # suma z piątej kolumny

49.49400000000001

In [57]:
np.round(stocks_startswith_P[:,4].astype('float').sum() , 2) # zaokrąglenie do dwóch cyfr po przecinku

49.49